/* *Google Fonts* */
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,900&display=swap');

/* *prototype* */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #eee;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    font-family: 'Merienda', cursive;
    font-weight: 700;
}

p {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

section {
    padding-top: 70px;
}

/* *Global Class* */
.pad-15{
    padding-left: 15px;
    padding-right: 15px;
}
/* *Topbar* */
.topbar {
    padding: 5px 0px;
    background: rgb(219, 95, 61);
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
}

.time {
    font-weight: 600;
    color: #000;
}

.social-media {
    text-align: end;
}

.social-media ul {
    margin: 0;
}

.social-media i {
    color: #000;
    padding: 0px 6px;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
}

.social-media i:hover {
    color: #8318ee;
    font-size: larger;
}

.phone {
    font-weight: 600;
    color: #000;
    padding-right: 15px;
}

.phone:hover {
    text-decoration: none;
    color: #000
}

.phone-rot {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}


/* *Navbar Start* */
.nav-bg-color {
    background: #fceabb;
    background: -webkit-linear-gradient(to right, #e2aa10, #fceabb);
    background: linear-gradient(to right, #e7ac09, #fceabb);
    padding: 10px;
}

.navbar-brand {
    font-size: 20px;
    color: #333;
    font-family: 'Merienda', cursive;
    font-weight: 700;
}

.navbar-nav .nav-link {
    font-weight: 500;
    color: black;
}

.dropdown-menu {
    padding: 0;
}

.dropdowntop {
    top: 118%;
}

.dropdowntop a:hover {
    background: rgb(223, 91, 64);
    background: linear-gradient(150deg, rgba(223, 91, 64, 1) 0%, rgba(255, 175, 63, 1) 47%, rgba(240, 232, 172, 1) 92%);
}

.search-box {
    border-radius: 20px;
}

.search-display {
    display: none;
}

.after-scroll {
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
    padding: 10px;
    box-shadow: 0px 10px 30px -7px #555
}

.after-scroll .navbar-nav li a {
    color: #555;
}

.after-scroll .navbar-nav li:hover {
    border-bottom: 2px solid #555;
}

.after-scroll .catch-botton i {
    color: #555;
}

.after-scroll .dropdowntop {
    top: 118%;
}

.navbar-toggler {
    padding: 0;
    background: rgb(219, 95, 61);
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
}

.fa-bars {
    padding: 5px 0;
}

/* *OwlCarousel Slider Start* */
.bannar-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.slide1 {
    width: 100%;
    height: 80vh;
    background-image: url("../image/photo1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide2 {
    width: 100%;
    height: 80vh;
    background-image: url("../image/photo2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide3 {
    width: 100%;
    height: 80vh;
    background-image: url("../image/photo3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide4 {
    width: 100%;
    height: 80vh;
    background-image: url("../image/photo4.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide5 {
    width: 100%;
    height: 80vh;
    background-image: url("../image/photo5.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slide6 {
    width: 100%;
    height: 80vh;
    background-image: url("../image/photo6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    position: absolute;
    width: 60%;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
    -moz-transform: translate(-50%, -40%);
    -ms-transform: translate(-50%, -40%);
    -o-transform: translate(-50%, -40%);
}

.content-title {
    color: #f5e63b;
    font-size: 55px;
    text-shadow: 4px 3px #000;
    margin-bottom: 10px;
}

.content-subtitle {
    color: #f5e63b;
    font-size: 22px;
    text-shadow: 2px 1px #000;
}

.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px 5px;
    background: #f1b329;
}

/* *Service Start* */
.service-header{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.service{
    padding: 5px;
    background: rgb(219, 95, 61);
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
}


.circle {
    margin: 0 auto;
    width: 106px;
    height: 107px;
    background-color: #f3e66f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.fa-cloud {
    font-size: 470%;
    padding: 13px 6px;
    color: #000;
}
.fa-desktop {
    font-size: 475%;
    padding: 22px 11px;
    color: #000;
}
.fa-mobile {
    font-size: 555%;
    padding: 10px 26px;
    color: #000;
}
.fa-cogs {
    font-size: 455%;
    padding: 20px 4px;
    color: #000;
}

.service-header h4, .service-header h2{
    margin-bottom: 10px;
    font-weight: 700;
}
.service-header h4{
    color: #f1b329;
    text-shadow: 2px 2px #000;
}
.service-header h2{
    color: #222;
    text-shadow: 2px 2px #f1b329;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.5;
    text-align: center;
}

.service{
    padding-top: 30px ;
}
.service-title {
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
    line-height: 1.6;
}

.service-subtitle {
    
    padding: 30px 5px 5px 5px;
    text-align: center;
    font-size: 20px;
    text-align: left;
    word-spacing: 1.7;
    color: #444;
    text-transform: capitalize;
    overflow: hidden;
}

.shape {
    position: relative;   
    display: flex;  
    flex-direction: column;
    height: 550px;
    border: 1px solid transparent;
    border-radius: 100px 25px 60px 15px;
    box-shadow: 5px 6px 12px #a08d79;
}

.procedure-wrapper{
    width: 100%;
    background-image: url("../image/photo7.jpg");
    /* background-image: url("../image/photo8.jpg"); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
}

.procedure-header{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
}

.procedure-header h2{
    margin-bottom: 10px;
    font-weight: 700;
}
.procedure-header h2{
    color: #000;
    text-shadow: 2px 2px #f1b329;;
}

.procedure-content{
     border: 1px solid transparent;
     border-radius: 75px 0px 50px 15px;
     -webkit-border-radius: 75px 0px 50px 15px;
     -moz-border-radius: 75px 0px 50px 15px;
     -ms-border-radius: 75px 0px 50px 15px;
     -o-border-radius: 75px 0px 50px 15px;
     transition: 0.5s all ease;
     -webkit-transition: 0.5s all ease;
     -moz-transition: 0.5s all ease;
     -ms-transition: 0.5s all ease;
     -o-transition: 0.5s all ease;
     box-shadow: 0 5px 15px #000;
     overflow: hidden;
}

.procedure-content:hover{
    background: linear-gradient(174deg, rgba(245,122,69,1) 0%, rgba(228,110,67,1) 16%, rgba(250,178,51,1) 63%, rgba(224,159,25,1) 100%);
}

.procedure-content:hover .under{
    background-color: #000;
}

.procedure-circle{
    margin: 0 auto;
    width: 90px;
    height: 90px;
    background-color: #d4ba39db;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.under{
    position: relative;
    top: 10px;
    left: 20px;
    width: 50px;
    height: 5px;
    background-color: rgb(240, 134, 13);
}

.procedure-title{
    color: #000;
    font-size: 1.50rem;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    text-shadow: 1px 1px #f1b329;
}
.procedure-subtitle{
    text-transform: capitalize;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    padding-bottom: 10px;
    text-align: center;
    padding: 0 5px 5px 5px;
}

.fa-flask{
    font-size: 450%;
    padding: 7px 13px;
    color: #000;
}
.fa-inbox{
    font-size: 440%;
    padding: 8px 5px;
    color: #000;
}
.fa-gavel{
    font-size: 465%;
    padding: 6px 12px;
    color: #000;
}

.fa-cog{
    font-size: 450%;
    padding: 8px 9px;
    color: #000;
}
.fa-spinner{
    font-size: 420%;
    padding: 11px 10px;
    color: #000;
}

.fa-truck{
    font-size: 350%;
    padding: 16px 13px;
    color: #000;
}

/* *Work Start* */

.work-card {
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    /* border-radius: .5rem; */
    background-color: #fff;
}

.work-accro{
    text-align: center;
    margin-bottom: 0;
}

.work-accro h5{
    display: block;
}

.work-accro h5:hover{
    cursor: pointer;
}

.card-header {
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    border-left: 5px solid #000;
}

.work-header{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.work-header h4, .work-header h2{
    margin-bottom: 10px;
    font-weight: 700;
}
.work-header h4{
    color: #f1b329;
    text-shadow: 2px 2px #000;
}
.work-header h2{
    color: #222;
    text-shadow: 2px 2px #f1b329;
}

/* *success Start* */
.success-hearder{
    text-transform: uppercase;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    font-weight: 700;
    color: #222;
    text-shadow: 2px 2px #f1b329;
}
/** feature start **/
.filter-button-group button {
    text-transform: uppercase;
    margin: 0px 5px;
    padding: 10px;
    color: #000;
    border: 1px solid #f07136;
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
  }
  
  .filter-button-group button:hover {
    color: #fff;
  }
  
  .element-item {
    width: 100%;
    border: 1px solid #fff;
    overflow: hidden;
  }
  
  .overlay {
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
    position: absolute;
    width: 100%;
    padding: 25px 20px;
    bottom: -100px;
    left: 0;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
}
  
  .element-item:hover .overlay {
    bottom: 0;
  }
  
  .feature-item-title {
   color: #000;
   position: relative;
   font-size: 22px;
  
}
  
  .feature-item-title:after {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    bottom: -10px;
    left: 0;
    background-color: #d8cb15;
  }
  
  .icon-overlay i {
    background-color: #fff;
    color: #666;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
  
/* *Portfolio* */
.portfolio-content{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
}
.portfolio-content h2{
    margin-bottom: 10px;
    font-weight: 700;
    color: #222;
    text-shadow: 2px 2px #f1b329;
}


.btn-port {
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
    color: #212529;
    border-color: #ffc107;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.bg-protfolio{
    width: 100%;
    background-image: url("../image/port-bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.bg-protfolio-header{
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    color: #222;
    text-shadow: 2px 2px rgb(241, 210, 72);
}
.client-count h1,.client-count h4{
    text-align: center;
    color: #000;
    text-shadow: 2px 2px rgb(241, 210, 72);
}
.count-card{
    padding: 25px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 10px #000;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.count-icon i {
    font-size: 25px;
    padding: 15px 10px;
    color: #000;
    text-shadow: 2px 2px #f1b329;
}
/* *About Start* */
.about-header{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.about-header h4, .about-header h2{
    margin-bottom: 10px;
    font-weight: 700;
}
.about-header h4{
    color: #f1b329;
    text-shadow: 2px 2px #000;
}
.about-header h2{
    color: #222;
    text-shadow: 2px 2px #f1b329;
}

.about i{
    font-size: 425%;
    padding: 55px 0px;
    color: rgb(249 185 42);
}

.about-marginT{
    margin-top: 100px;
}

.about-subtitle{
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
    font-weight: 300;
    padding: 10px;
    letter-spacing: 1.4;
    line-height: 1.7;
    box-shadow: 2px 2px 10px #000;
    border-bottom-right-radius: 30px;
    border-right: 3px solid rgb(219, 95, 61);
    border-bottom: 3px solid rgb(219, 95, 61);
}

/* *Team Start* */

.team-header{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

.team-header h2{
    margin-bottom: 10px;
    font-weight: 700;
    color: #222;
    text-shadow: 2px 2px #f1b329;
}

.team-marginT{
    margin-top: 100px;
}

.slick-slide {
    margin: 0 20px;
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.slick-slide img {
    width: 100%;
    display: block;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

#team-slider{
    margin-top: 10%;
}

.image-area{   
    margin: 10px;
    border: 1px solid transparent;
    box-shadow: 2px 2px 15px rgb(228, 136, 15);
}

.content-area{
    position: relative;
}

.custom-overlay{
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 10px;
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
    opacity: 0;
    transition: all 400ms ease-in-out;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    height: 70%;
}

.custom-overlay:hover{
    opacity: 1;
}

.team-content-text{
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.team-content-text h4{
    position: relative;
    font-size: 25px;
    color: #000;
    padding-bottom: 5px;
}

/* *Technology skills* */
.tech-header{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

.tech-header h2{
    margin-bottom: 10px;
    font-weight: 700;
    color: #222;
    text-shadow: 2px 2px #f1b329;
}

.skills-area{
    margin-top: 5%;
  }
.single-skill{
    width: 22%;
    margin: 0 15px;
    text-align: center;
    float: left;
  }


  /** Testimonial part **/
.testimonial-header{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

.testimonial-header h2{
    margin-bottom: 10px;
    font-weight: 700;
    color: #222;
    text-shadow: 2px 2px #f1b329;
}

.testimonial-area{
      position: relative;
      padding: 30px 0;
}
.fa-quote-left, .fa-quote-right{
    font-size: 24px;

}
.single-testimonial{
    color: #fff;
    padding-left: 75px;
    position: relative;
    margin: 0 15px 15px;
}
.img-area{
    border-bottom: 50%;
    height: 150px;
    width: 150px;
    left: 0;
    margin-top: -75px;
    top: 50%;
    position: absolute;
}

.img-area > img{
    background: linear-gradient(to bottom, rgb(250, 234, 16), rgb(245, 79, 14));
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    padding: 5px;
}

.testi-text{
    background: linear-gradient(165deg, rgb(219, 85, 61) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
    padding: 40px 20px 40px 100px;
    color: #000000;
    border-radius: 10px 90px 5px 50px;
    -webkit-border-radius: 10px 90px 5px 50px;
    -moz-border-radius: 10px 90px 5px 50px;
    -ms-border-radius: 10px 90px 5px 50px;
    -o-border-radius: 10px 90px 5px 50px;
}
.testi-text h4{
    font-size: 30px;
    margin-bottom: 20px;
}

.testi-text h4 span{
    font-size: 15px;
    display: block;
}

.testi-text p{
    font-size: 1.15rem;
    font-weight: 300;
    text-transform: capitalize;
    line-height: 1.5;
}

/* .single-testimonial:hover .testi-text{
    color: #000;
    transition: 0.9s all ease;
    -webkit-transition: 0.9s all ease;
    -moz-transition: 0.9s all ease;
    -ms-transition: 0.9s all ease;
    -o-transition: 0.9s all ease;
} */
/* .testimonial-area div.owl-nav{
    color:#FFFF4A;
    font-size: 55px;
    display: inline-block;
    height: 60px;
    margin-top: -30px;
    text-align: center;
    width: 40px;
    transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    -moz-transition: 0.3s all ease;
    -ms-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
} */
/* .owl-prev, .owl-next{
    position: absolute;
}
.owl-prev{
    left: -20px;
    top: 100px;
}
.owl-next{
    right: -20px;
    top: 100px;
} */
/* responsive part */
@media only screen and (max-width: 676px){
    .testimonial-area{
      padding: 15px 0;
    }
    .single-testimonial{
        padding-left: 0px;
        padding-top: 75px;
    }
    .img-area{
        left: 50%;
        margin-left: -75px;
        top: 75px;
    }
    .testi-text{
        padding: 80px 25px 45px; 
    }
    .testi-text h4{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .testi-text p{
        font-size: 16px;
    }
    /* .owl-prev{
        left: -1px;
        top: 150px;
    }
    .owl-next{
        right: -15px;
        top: 150px;
    } */
    
}


/** Brand Part **/
.brand-header{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 40px;
}

.brand-header h2{
    margin-bottom: 10px;
    font-weight: 700;
    color: #222;
    text-shadow: 2px 2px #f1b329;
}
.brand-mar{
    margin-bottom: 20px;
}
.brand-img{
    max-height: 100px !important;
    padding: 10px;
    text-align: center;
}

  /** Mapping part**/
  .map-wrapper .iframe{
    margin-top: 70px;
}

/** Footer Start **/
footer {
    font-size: 13px;
    background-color: #222;
  }
  
  /* post */
  .rec-post {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .rec-post-item {
    border-bottom: 1px solid #444;
  }
  
  .rec-post-link:hover {
    text-decoration: none;
  }
  
  .media img {
    padding-top: 10px;
  }
  
  /* news */
  .rec-news-item {
    margin-bottom: 7px;
    border-bottom: 1px solid #444;
  }
  
  /* contact-info */
  .con-icon i {
    font-size: 20px;
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
  }
  
  .rec-contactby-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #444;
  }
  
  
  .btn-newsletter {
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
    color: #000;
    border-color: #ffc107;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }


  /* payment info */
  .payment {
    text-transform: uppercase;
  }
  .payment h6 {
    margin-top: 10px;
  }
  
  .icons_payment {
    list-style-type: none;
    display: flex;
    padding-left: 0;
  }
  .icons_payment .icon_list {
    margin-right: 20px;
    margin-top: 10px;
  }
 


  /** legal Start**/
.legal-wrapper {
    padding: 20px 0;
    background: linear-gradient(165deg, rgba(219, 95, 61, 1) 0%, rgba(241, 165, 51, 1) 34%, rgba(248, 228, 112, 1) 70%, rgba(249, 189, 105, 1) 96%);
    color: #000;
    font-weight: 500;
    text-align: center;
}